<nav class="grey nav-extended">

  <div class="nav-wrapper  container">

      <a href="{{ baseUrl('') }}" class="mm-logo">Memes <span id="spanlogo">Maker</span></a>
      <a href="{{ baseUrl('') }}" class="brand-logo center"><img id="logo" src="{{ baseUrl('assets/img/') }}logo3.png" alt="logo "></a>
      
    
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ baseUrl('') }}">Liste</a></li>
        <li><a href="{{ baseUrl('create') }}">Créer</a></li>
      </ul>
    
  </div>

</nav>
  
  