<!--<nav class="snav-extended sidenav-trigger">

  <div class="nav-wrapper  container">

      <a href="{{ baseUrl('') }}" class="mm-logo">Memes <span id="spanlogo">Maker</span></a>
      <a href="{{ baseUrl('') }}" class="brand-logo center"><img id="logo" src="{{ baseUrl('assets/img/') }}logo3.png" alt="logo "></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><img id="mob-menu" src="{{ baseUrl('assets/img/') }}menu.png" alt="menu" ></a>
    
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ baseUrl('') }}">Liste</a></li>
        <li><a href="{{ baseUrl('create') }}">Créer</a></li>
      </ul>


  <ul class="sidenav" id="mobile-demo">
      <li><a href="{{ baseUrl('') }}">Liste</a></li>
      <li><a href="{{ baseUrl('create') }}">Créer</a></li>
  </ul>

  </div>
  
</nav>-->

<nav class="snav-extended sidenav-trigger">
  
    <div class="nav-wrapper  container">

        <a href="{{ baseUrl('') }}" class="mm-logo">Memes <span id="spanlogo">Maker</span></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><img id="mob-menu" src="{{ baseUrl('assets/img/') }}menu.png" alt="menu" ></a>
        <a href="{{ baseUrl('') }}"class="brand-logo center" ><img id="logo" class="center disappear" width="60%" src="{{ baseUrl('assets/img/logo3.png') }}"></a>
        
        <div class="right disappear">

            <ul id="dropdown2" class="dropdown-content">
                <li><a href="{{ baseUrl('create/image') }}">Images</a></li>
                <li class="divider"></li>
                <li><a href="{{ baseUrl('create/gif') }}">Gifs</a></li>
            </ul>
            <ul>
                <li><a class="dropdown-trigger btn  nav-menu" href="{{ baseUrl('') }}#!" data-target="dropdown2">Créer<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>

        </div>
    
        <div class="right disappear">

            <ul id="dropdown1" class="dropdown-content">
                <li><a href="{{ baseUrl('list/images') }}">Images</a></li>
                <li class="divider"></li>
                <li><a href="{{ baseUrl('list/gifs') }}">Gifs</a></li>
            </ul>
            <ul>
                <li><a class="dropdown-trigger btn  nav-menu" href="#!" data-target="dropdown1">Liste<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>

        </div>
  

        <!-- Mobile -->

        <ul class="sidenav" id="mobile-demo">
            <li></li><a href="{{ baseUrl('') }}"class="center" ><img id="logo" class="center" width="30%" src="{{ baseUrl('assets/img/logo3.png') }}"></a></li>
            <ul id="dropdown3" class="dropdown-content">
                <li><a href="{{ baseUrl('list/images') }}">Images</a></li>
                <li class="divider"></li>
                <li><a href="{{ baseUrl('list/gifs') }}">Gifs</a></li>
            </ul>
            <ul>
                <li><a class="dropdown-trigger btn nav-menu" href="#!" data-target="dropdown3">Liste<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul id="dropdown4" class="dropdown-content">
                <li><a href="{{ baseUrl('create/image') }}">Images</a></li>
                <li class="divider"></li>
                <li><a href="{{ baseUrl('create/gif') }}">Gifs</a></li>
            </ul>
            <ul>
                  <li><a class="dropdown-trigger btn nav-menu" href="#!" data-target="dropdown4">Créer<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </ul>
        
    </div>
  </nav>