{% extends "layouts/base.html" %}

{% block css %}
{{ baseUrl('assets/css/create.css') }}
{% endblock %}

{% block content %}

<div id="modal" class="modal"></div>

<div class="row">

     <!-- CAROUSEL -->
    <div class="carousel">
        {% for base in data %}
        <a class="carousel-item"><img src="{{ baseUrl('assets/images/') }}{{ base.path }}.jpg"></a>
        {% endfor %}
    </div>

    <div class="content col s12 m12">
    
        <form>  
            <div class="left col s12 m12 l3">
                <div class="card row">
                    <div class="input-field col s12">
                        <input id="up-text" type="text" name="texteH" class="validate">
                        <label for="up-text">Texte du haut</label>
                    </div>
                    
                    <div>
                        <div class="input-flex input-field col s12">
                            <label class="label-color" for="up-text-color">Couleur</label>
                            <input id="up-text-color" name="colorH" type="color" value="#000000">
                            
                        </div>
                        
                        <div class="input-field col s12">
                            <label class="label-color" >Taille du texte</label>
                            <select id="up-size-text" name="sizeH">
                                <option value="22" disabled >Taille du texte</option>
                                <option value="24" selected>24px</option>
                                <option value="28">28px</option>
                                <option value="32">32px</option>
                                <option value="36">36px</option>
                                <option value="40">40px</option>
                                <option value="44">44px</option>
                                <option value="48">48px</option>
                                <option value="50">50px</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
           
            <!-- FORM -->
            <div class="right col s12 m12 l3">
                <div class="card row ">
                    <div class="input-field col s12">
                        <input id="down-text" type="text" name="texteB" class="validate">
                        <label for="down-text">Texte du bas</label>
                    </div>
                    
                    <div>
                        <div class="input-flex input-field col s12">
                            <label class="label-color" for="down-text-color">Couleur</label>
                            <input id="down-text-color" type="color" name="colorB" value="#000000">
                            
                        </div>
                        
                        <div class="input-field col s12">
                            <label class="label-color" >Taille du texte</label>
                            <select id="down-size-text" name="sizeB">
                                <option  disabled >Taille du texte</option>
                                <option value="24" selected>24px</option>
                                <option value="28">28px</option>
                                <option value="32">32px</option>
                                <option value="36">36px</option>
                                <option value="40">40px</option>
                                <option value="44">44px</option>
                                <option value="48">48px</option>
                                <option value="50">50px</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
             <!-- USER CHOICE -->
             <center>
                    <div class="col s12 m12 l6 ">
                        <div class="user-choice">
                            <img id="user-choice" src="{{ baseUrl('assets/images/') }}create.jpg">
                            <input id="input-image" type="hidden" name="image" value="{{ baseUrl('assets/images/') }}create.jpg">
                            <p id="p-up-text"></p>
                            <p id="p-down-text"></p>
                        </div>
                    </div>
                </center>
                
            
            <div class="col s12"><center><button data-target="modal" class="btn modal-trigger waves-effect waves-light blue darken-">Générer MeMe</button></center></div>

            
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
{{ baseUrl('assets/js/create.js') }}
{% endblock %}
