{% extends "layouts/base.html" %}

{% block css %}
    {{ baseUrl('assets/css/' ~ template ~ '.css') }}
{% endblock %}

{% block content %}

<div id="modal" class="modal"></div>

<div class="row">


    <div class="content col s12 m12">

        {% include 'templates/' ~ template ~ '.html' with data %}
        
        <form>  
            <div class="left col s12 m12 l3">
                <div class="card row">
                    <div class="input-field col s12">
                        <input id="input-up-text" type="text" name="texteH" class="validate">
                        <label for="input-up-text">Texte du haut</label>
                    </div>
                    
                    <div>
                        <div class="input-flex input-field col s12">
                            <label class="label-color" for="up-text-color">Couleur</label>
                            <input id="up-text-color" name="colorH" type="color" value="#000000">
                            
                        </div>
                        
                        <div class="input-field col s12">
                            <select id="up-size-text" name="sizeH">
                                <option value="44" disabled selected>Taille</option>
                                <option value="44">44px</option>
                                <option value="48">48px</option>
                                <option value="52">52px</option>
                                <option value="56">56px</option>
                                <option value="60">60px</option>
                                <option value="64">64px</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- USER CHOICE -->
            <center>
                    <div  id="custom_image" class="col s12 m12 l6 ">
                        <div class="user-choice">
                            <img id="user-choice" src="{{ baseUrl('assets/images/') }}create.jpg">
                            <p id="p-up-text"></p>
                            <p id="p-down-text"></p>
                        </div>
                    </div>
                </center>
                
           
            <!-- FORM -->
            <div id="text_down" class="right col s12 m12 l3">
                <div class="card row ">
                    <div class="input-field col s12">
                        <input id="input-down-text" type="text" name="texteB" class="validate">
                        <label for="input-down-text">Texte du bas</label>
                    </div>
                    
                    <div>
                        <div class="input-flex input-field col s12">
                            <label class="label-color" for="down-text-color">Couleur</label>
                            <input id="down-text-color" type="color" name="colorB" value="#000000">
                            
                        </div>
                        
                        <div class="input-field col s12">
                            <select id="down-size-text" name="sizeB">
                                <option value="44" disabled selected>Taille</option>
                                <option value="44">44px</option>
                                <option value="48">48px</option>
                                <option value="52">52px</option>
                                <option value="56">56px</option>
                                <option value="60">60px</option>
                                <option value="64">64px</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
             
            
            <div class="col s12"><center><button data-target="modal" class="btn modal-trigger waves-effect waves-light">Générer Meme</button></center></div>

            
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
    {{ baseUrl('assets/js/' ~ template ~ '.js') }}
{% endblock %}
