

<div class="modal-content">
  <center> <img id="memesResult" src="{{ baseUrl('uploads/')}}{{ memeGenerator }}.jpg"></center>
  
</div>
<div class="modal-footer">

  <center>
  <a class="share-facebook" href="#"> <img class="fbIcon" src="{{ baseUrl('assets/images/')}}facebook.png" alt="share on facebook"></a>
  <a class="share-twitter" href="#"> <img class="twit-icon" src="{{ baseUrl('assets/images/')}}twitter.png" alt="share on twitter"></a><br>
  <label>Image Link:</label>
</center>
</div>
      