body{
  background: #eeeeee;
}


.container {
  width: 85%
}

.carousel {
  height: 200px;
  margin-top: 35px
}

canvas {
  width: 512px
}

@media only screen and (max-width: 600px) {
  canvas {
      width: 250px;
  }
}
